[2015-04-30 08:33] jcmm33 opened #1 "Reactive attribute doesn't appear to function"
I'm done a small test console application which compiles correctly (after changing the assembly name for the net45 build for the fodyhelper) but I don't appear to be seeing property values changing.

Simple app :

    class Program
    {
        public class ViewModel:ReactiveObject
        {
            [Reactive] public int Value1 { get; set; }

            private int _value2;

            publ

[2015-04-30 14:36] kswoll commented on #1
It sounds like the weaver isn't kicking in.  Can you change your build verbosity (Tools | Options | Projects and Solutions | Build and Run | MSBuild project build output verbosity) to "diagnostic", rebuild your project, and then attach the entire log file here?  Alternatively, if you zip up your sample project, I'd be happy to take a look at it on my side.  There could be a variety of potential re

[2015-04-30 15:24] jcmm33 commented on #1
Log file is here : http://1drv.ms/1FAdQ27

As I said I did have to change the name of the assembly and remove the .net45 otherwise the 'weaving' wouldn't execute and generated an error.

[2015-04-30 15:49] kswoll commented on #1
Hmm, it's definitely activating the reactiveui.fody plugin.  I'll try to create your console app from scratch and see if I can repro.  Admitedly I had been donig most of my testing in Xamarin.Ios.  If I can't repro, I'll hit you up for that zip file, but let me get back to you first.

[2015-04-30 17:01] jcmm33 commented on #1
The application project is here http://1drv.ms/1bYU30S

[2015-04-30 17:03] jcmm33 commented on #1
On this subject, I'm looking to use in a PCL which targets both Xamarin & WP8.1/WinRT . Currently the package won't install within a PCL targeting the above.

[2015-04-30 19:01] kswoll opened #2 "Support PCL targets"
Right now a PCL project cannot reference the helper assembly.  Create a PCL project to accomodate this.

[2015-04-30 19:05] kswoll commented on #1
Hey, thanks again for reporting this. The bug was due to the embarassing fact that I was neglecting to account for nested types.  The latest version in nuget should fix this bug for you.  I'm going to go ahead and close out this issue and create a new one (https://github.com/kswoll/ReactiveUI.Fody/issues/2) for the PCL problem.  (I'll investigate that one next)

[2015-04-30 19:05] #1 closed

[2015-04-30 21:27] kswoll commented on #2
Should be fixed now with the latest version.

[2015-04-30 21:27] #2 closed

[2015-05-01 16:37] jcmm33 opened #3 "Reactive Attribute suggestion"
Might be worth considering adding a parameter to reactive attribute to specify the access modifier for the set property . We have a few scenarios whereby the setting of the property value is internal to the view model and shouldn't be settable by 'outside' classes e.g.

    public int Value2 { get { return _value2; } private set { this.RaiseAndSetIfChanged(ref _value2, value); } }

[2015-05-01 16:47] kswoll commented on #3
Hmm, can't you already do this?

[code]

That seems to work for me.

[2015-05-01 17:34] jcmm33 commented on #3
Sorry, its me being completely stupid.

[2015-05-01 17:34] #3 closed

[2015-05-01 17:35] kswoll commented on #3
Lol, no worries. :)

[2015-05-14 16:58] bradtwurst opened #4 "ObservableAsProperty no longer works with ReactiveUI 6.5.0"
ReactiveUI updated to 6.5.0 recently.

This change is causing the following exception...

    Error	3	Fody/ReactiveUI: An unhandled exception occurred:
    Exception: Sequence contains more than one matching element
    StackTrace:
       at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source, Func`2 predicate)
       at ReactiveUI.Fody.ReactiveUIPropertyWeaver.Execute() in     c:\Dev\Reac

[2015-05-14 18:57] kswoll commented on #4
Thanks for the report!  Sorry for the regression, I'll take a look at this tonight.

[2015-05-14 19:33] bradtwurst commented on #4
I've created a pull request #5 - not sure if this is how you want to solve it, but it did work.

[2015-05-18 10:33] dbulic opened #6 "Trouble getting Fody to work"
Hi,
I have trouble getting Fody to run its magic after installing it via Nuget. [Reactive] attribute isn't recognized.

I updated it so it reads:
[code]
After project rebuild, Fody throws an error:
[code]

That's the following line:
[code]

My ViewModel descends from ReactiveObject.

[2015-05-18 13:25] kswoll commented on #6
I think @bradtwurst fixed this.  Can you get the (just updated) latest package from nuget and see if that resolves your issue?

[2015-05-18 20:55] dbulic commented on #6
Error message has changed:

[code]

[2015-05-19 14:00] kswoll commented on #6
Sorry for being slow to get back to you, but that error seems to indicate that your project (that has Fody attached) does not have a reference to the helper assembly provided by ReactiveUI.Fody.  It's supposed to get referenced automatically when you install the nuget package, but let's take a look at your project references.  Can you check to see if there is indeed a reference to that assembly in

[2015-05-21 16:09] dbulic commented on #6
Sorry for me being late now :)
I'm using .NET 4.5 in a WPF solution, VS2015 RC. Even when I manually add ReactiveUI.Fody.Helpers assembly error stays absolutely the same.
Helper: packages\ReactiveUI.Fody.1.0.51\lib\net45\ReactiveUI.Fody.Helpers.dll
ReactiveUI: packages\reactiveui-core.6.5.0\lib\Net45\ReactiveUI.dll

Not sure if it matters, but when I install package, it's older version. I then nee

[2015-05-23 17:42] kswoll commented on #6
Hmm, I can't imagine why it's not working. Could you send me a zip of a sample project that reproduces the issue?  I would be happy to investigate on my end.

[2015-05-27 12:00] pibone commented on #6
Hi,
It happened to me with this setting:
- Xamarin.Forms PCL with ReactiveUI.Fody installed.
- Android without ReactiveUI.Fody
- iOS without ReactiveUI.Fody

Referencing to the package dll itself in both projects (Android, iOS) solved the issue for me.

[2015-06-02 02:08] kswoll commented on #6
Huh, sorry for being so slow to respond, but thanks for the info!  I'll see if I can repro and try to figure out what steps would be necessary to prevent that non-ideal experience.

[2015-06-16 15:40] #4 closed

[2015-06-16 15:41] #6 closed

[2015-09-29 01:58] ofirgeller commented on #6
Happening to me as well. message is the same. deleting the nuget pack, , re installing, re referencing all fail to change the message for me.

[2015-09-29 02:03] kswoll commented on #6
The stack trace of the particular exception that would lead to this should be different than the one you are receiving.  To be absolutely sure we're on the same codebase, would you mind posting the full stack trace?  Tentatively, it seems like the plugin thinks your project doesn't have a dependency on ReactiveUI.  If the stack trace fails to yield any promising clues, the next step would be a pro

[2015-09-29 04:26] ofirgeller commented on #6
stack trace:

Error   1   Fody: An unhandled exception occurred:
Exception:
Could not find assembly: ReactiveUI.Fody.Helpers (ReactiveUI, System.ObjectModel, System.Runtime, System.Threading.Tasks, System.Linq.Expressions, System.Reflection, System.Reactive.Core, System.Reactive.Interfaces)
StackTrace:
   at ReactiveUI.Fody.ReactiveUIPropertyWeaver.Execute() in c:\projects\reactiveui-fody\Reactive

[2015-09-29 14:04] kswoll commented on #6
@ofirgeller ah, I see the problem.  You are not currently using my plugin, so despite the fact that you have a reference to ReactiveUI.Fody.Helpers, it is not included in your module since you are not referencing that package at all.  If you change your `MainViewModel` so that the property reads like:

[code]

It will fix your build error. (It fixes the error because `[Reactive]` is defined in `Re

[2015-09-29 15:20] ofirgeller commented on #6
It would make sense for it not to fail the build just because it is
installed and not used, or at the very least give a better message to work
with.
thanks for finding the answer!

On Tue, Sep 29, 2015 at 5:04 PM, Kirk Woll notifications@github.com wrote:

[2016-01-05 00:49] ghuntley opened #8 "Exception when using ToPropertyEx(this, x => x.myCoolOPAH);"
at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source)
   at ReactiveUI.Fody.ObservableAsPropertyWeaver.Execute() in c:\projects\reactiveui-fody\ReactiveUI.Fody\ObservableAsPropertyWeaver.cs:line 57
   at ReactiveUI.Fody.ModuleWeaver.Execute() in c:\projects\reactiveui-fody\ReactiveUI.Fody\ModuleWeaver.cs:line 31
   at lambda_method(Closure , Object )
   at InnerWeaver.ExecuteWeavers() in

[2016-01-05 17:55] kswoll commented on #8
Here's the actual class I used.  Error should be fixed now with the new nuget build:

[code]

[2016-01-05 17:55] #8 closed

[2016-01-09 01:37] ghuntley opened #9 "exception when building on a project that has no [Reactive] (or any) attributes defined."
# Repro
    File -> New Project (PCL 111)
    PM> Install-Package ReactiveUI
    PM> Install-Package Fody
    PM> Install-Package ReactiveUI.Fody

Compile.

# Error

    Severity	Code	Description	Project	File	Suppression State	Line
    Error		Fody: An unhandled exception occurred:
    Exception:
    Could not find assembly: ReactiveUI.Fody.Helpers (System.Runtime, System.Resources.ResourceManager,

[2016-01-12 20:41] kswoll commented on #9
Fixed in ReactiveUI.Fody.1.1.10.nupkg

[2016-01-12 20:41] #9 closed

[2016-02-18 13:21] Emailrus opened #10 "Null pointer check for ObservableAsProperty"
Hi,

Not sure if I'm doing this correctly, but is it possible to initialize value of a field in ObservableAsProperty?
Or maybe even better to have an ability to generate ObservableAsProperty getter with null check?
Otherwise I'm getting exceptions if I'm trying to read properties before my subscriptions kick in.

Thanks

[2016-02-18 16:06] kswoll commented on #10
Not sure what you mean.  Can you illustrate your question with some sample code?  What do you mean by "initialize value of a field" in this context?  And what exceptions are you receiving?

[2016-02-19 08:25] Emailrus commented on #10
Here is generic example, it is possible to workaround this by adding some extra states, but that is undesired.
Having an ability to safely call MyProperty before it has its field initialized with ToPropertyEx would be great. I think simplest way to achieve that is by adding null check in generated getter

[code]

[2016-02-23 16:10] kswoll commented on #10
Sorry it took so long to get back to you.  But I see.  Idiomatically I always set up my observables in the constructor, but I agree that an NRE is undesirable.  I will create a fix today or tomorrow that addresses your concern.

[2016-03-07 19:16] ljani opened #11 "Consider different strategies to fix the CS0626 warning"
Consider the following example:

[code]

This produces the following warning on VS2015, .NET 4.6.1:

On the other hand, this won't produce a warning, but it looks slightly more complicated (and doesn't work at the moment):

[code]

One solution would be to allow both of the usages. Any other ideas how to solve this, other than suppressing the warning? Contact [the Roslyn team](https://github.com/d

[2016-03-07 22:09] kswoll commented on #11
@ljani thanks!  I agree with you that that warning is annoying.  You could use private setters instead -- though I like your suggestion of supporting the attribute being inside the getter.  I will look into that.

[2016-03-08 21:09] calebkiage opened #12 "Build the NuGet libraries in release mode"
The NuGet dlls can't be used on windows store apps because they are built in debug mode. I had an application I was publishing fail certification because of this. It passed after I built the dlls from source in release mode and replaced the NuGet dlls.

[2016-03-08 21:21] kswoll commented on #12
Wow, I hadn't realized that Release mode would impact such a scenario.  Thanks for the report!  Latest nuget should fix that.  (might take a few minutes for it to propagate on their servers, but the version would be ReactiveUI.Fody 1.1.25.

[2016-03-08 21:21] #12 closed

[2016-03-08 22:59] calebkiage commented on #12
I have tried to update the package but it's removing the reference to ReactiveUI.Fody.Helpers from the project. Version 1.1.10 works properly.

[2016-03-08 23:01] calebkiage commented on #12
Adding the reference manually, Fody throws the error:

[code]

[2016-03-08 23:01] kswoll commented on #12
Hmm, sorry about that.  I see what you are saying and can repro locally.  I'll fix.

[2016-03-08 23:04] calebkiage commented on #12
Ah, great! Thank you for the timely responses.

[2016-03-08 23:15] kswoll commented on #12
Ok, all set.  I've tested the latest version on a sample project and it works fine now.

I apologize for not testing my change first -- I recently had to recreate my deployment script for appveyor and I evidently screwed up the nuget package process.

[2016-03-08 23:32] calebkiage commented on #12
That's alright. Happens to the best of us. The new package version works fine now. Thanks.

[2016-03-22 14:34] #10 closed

[2016-04-11 12:06] koffmoff opened #13 "Chaining two ObservableAsProperty throws 'InvalidProgramException'"
The code below throws _InvalidProgramException_ when accessing P2. If I make the properties _int_ or _Single_, it works fine. Just not with doubles.

[code]

[2016-04-14 14:19] kswoll commented on #13
Thanks for the contribution!  I'll take a look at this tonight.

[2016-04-16 13:48] kswoll opened #15 "Make unit testing new changes not rely on nuget package"
Currently, it's virtually impossible to unit test new changes because the test project relies on the nuget package, which ideally won't be updated until after the test passes.  Therefore, change the setup of the test project so that it uses [In Solution Weaving](https://github.com/Fody/Fody/wiki/InSolutionWeaving) where the `Weavers` folder will be populated by the ReactiveUI.Fody assemblies.

[2016-04-16 13:52] #13 closed

[2016-04-16 13:53] #15 closed

[2016-04-17 14:33] #11 closed

[2016-05-31 04:02] mmamone opened #18 "Using ReactiveUI.Fody with property initialisers result in unit tests looking for backing fields"
We are using ReactiveUI.Fody with C#6, so are taking advantage of property initialisers.
If we have the following code :
[code]
The unit tests (that use AutoMocker) fail to run, as they are searching for the backing field (not explicitly). If, however, we initialise the property in the constructor, the problem goes away (but we lose the usage of property initialisers).

[2016-06-10 22:51] kswoll commented on #18
@mmamone sorry, this issue slipped my notice!  I'll take a look this weekend.

[2016-06-15 14:03] kswoll commented on #18
@mmamone can you elaborate on what the error is?  Are you suggesting that `AutoMocker` is relying on the specific compiler-generated names for the backing fields?  But yeah, whatever error message/stack trace you could provide would be a big help.

[2016-06-21 21:05] kswoll commented on #18
Closing, but will re-open if more details emerge.

[2016-06-21 21:05] #18 closed

[2016-08-05 16:39] carlossless opened #19 "Xamarin Studio on OS X cannot run Unit Tests"
Hi, I wanted to do a few modifications to this wonderful tool, however I can't seem to manage running the the tests. Any ideas why this might be happening?

Here's the error I've been getting.

[code]

[2016-08-06 18:44] kswoll commented on #19
Hi, thanks for the kind words! :)  I don't have a mac handy at the moment, but I noticed the test project had an unnecessary reference to `WindowsBase`, which seems like it might be related to that reference to `PresentationFramework`.  I've removed that reference and published a new version.  Would you mind trying it out and seeing if it fixes your problem?

[2016-08-08 10:00] carlossless commented on #19
Actually the problem was related to the Net45 version of ReactiveUI referencing PresentationFramework. I'm trying to get around it by using the Xamarin.Mac10 platform library, but am now getting weird nunit related issues. I'll keep this thread up to date with my progress.

[2016-08-25 14:00] Evangelink opened #21 "ReactiveUI 6.5.0.0"
I have a project using ReactiveUI 6.5.0.0 on which I have just installed your nuget. I now end-up with an application crash saying it can't find ReactiveUI 6.4.0.1. The dependency is properly set to >= on your nuget not = so this should work, isnt' it? I also tried to put a binding redirection into the app.config but except if the key I put is wrong the binding didn't worked.

Any idea?

[2016-08-25 14:11] kswoll commented on #21
I tried to repro on a sample project and was unable to see a crash.  Can you provide your full stack trace and if possible, isolate it into a project you could upload?  Thanks!

[2016-08-25 15:10] Evangelink commented on #21
I also tried it on a simple WPF project and I didn't had any issue...
I am trying to use your plugin within a modular application (prism) and I have the following errors:

[code]

and

[code]

Note that the Portal part has already loaded a version of ReactiveUI.
I am going to try and make a little repro case.

[2016-08-25 15:57] Evangelink commented on #21
Can you confirm that the `ReactiveUI.Fody.Helpers` should not be shipped to the production environment? If I have correctly understood the behavior, this is only required while compiling to update the output dll with the extra plumbing code.

It seems that if I remove the `ReactiveUI.Fody.Helpers` dll from my portal folder everything works properly.

[2016-08-25 16:05] kswoll commented on #21
Given those errors, it really sounds like you still have two versions of reactiveui's assembly in two separate locations.  You may want to check your packages folder to see if there are two versions of reactiveui-core present.  Failing that, maybe do a search for that assembly wherever your app is picking up assemblies.

As to your other question, the helpers assembly is only neccessary at runtime

[2016-08-25 16:25] Evangelink commented on #21
Ok so for now I can only see 2 dlls of ReactiveUI (one in the portal folder and one in the modules folder) they are both the same size, date and version.
If I skip copying `ReactiveUI.Fody.Helpers` dll, I have no error.

I can see on the output that your dll loads the proper version of ReactiveUI:

[code]

So it is probably coming from somewhere else....Probably on our side...

EDIT:
If I change a

[2016-08-26 01:47] kswoll commented on #21
Sorry, not totally following what you mean by "OAPH" and "my nuget syntax", can you elaborate?

[2016-08-26 07:30] Evangelink commented on #21
Oh sorry about that.
OAPH = ObservableAsPropertyHelper. And what I meant by using your syntax is o actually replace the the ToProperty by ToPropertyEx and accordingly replace the property (from x.Value to the attribute with the extern keyword).

I am still trying to understand where the problem is coming from and at this point I am not sure it is linked to your package.

[2016-09-06 15:11] Evangelink commented on #21
I am still working on the issue (not full time) and I was wondering why you have a dependency to reactiveui-core and not reactiveui? I am not sure it does change something but I was just wondering.

[2016-09-06 19:16] kswoll commented on #21
`reactiveui` depends on `reactiveui-core`

I'm not entirely sure what the reasonsing is that made them split it up into two separate nuget packages, but `reactiveui` doesn't actually contain any assemblies.   All the classes are contained in `reactiveui-core`, thus `ReactiveUI.Fody` has a dependency on that package.

[2016-09-20 09:33] Evangelink commented on #21
So the problem come from Prism dll loading but at this point I am not sure how to deal with this. Anyway I am closing this issue as it is not linked to your package.

[2016-09-20 09:33] #21 closed

[2016-09-22 22:45] kswoll commented on #21
OK, thanks for circling back!

[2016-09-23 10:20] escamoteur opened #22 "Please Add Generation of ViewModel boiler plate code in Views"
Hi,

in all Xaml Views (Xamarin Forms e.g.) we need to add Properties so that the ViewModel can be set:

e.g.

[code]

It would be great if you could add a class attribute that would generate them automatically.

Best
Thomas

[2016-09-23 15:33] kswoll commented on #22
Indeed that boilerplate is a nuisance.  In my own projects, I typically createa  subclass, like `RxContentPage`, that takes care of this, and then subclass that for my own views.  This works, but it's cumbersome as you have to do that for each primary view type you want to consume.

I agree it'd be great if we could decorate a class to take care of this for us.  However, the best we could probably

[2016-09-24 06:47] glennawatson commented on #22
I also believe that maybe a Xamarin BindableProperty Fody similar to the already existing DependencyProperty Fody one already available may be a way to reduce the boiler plate. This would be outside of scope of the Reactive fody though.

[2016-09-26 15:26] #22 closed

[2016-11-03 15:09] escamoteur opened #23 "Please Update to RxUI 7"
Hi,

I just had to find out that ReactiveUI.Fody doesn't work with RxUI7

Please help to make it work again.

Thanks a lot
Thomas

[2016-11-03 15:48] kswoll commented on #23
Yeah, it's easy to fix -- just need to rebuild the helper assembly against rxui7.  But rxui7 is in beta, right?  So I'm reluctant to update the nuget package to point to an unreleased version of rxui.  Thoughts?

[2016-11-03 15:50] escamoteur commented on #23
I was told that

ToProperty has an extra attribute in RxUI 7 which Fody doesn't include in the code it generates, so this causes errors

So I don't know if a rebuild alone is enough.

But you could make a new nuget and mar it as prerelease

[2016-11-03 15:56] Qonstrukt commented on #23
A rebuild should be enough, but I think this breaks RxUI 6.5 compatibility, so I'm not sure how you'd go about this the right way.

[2016-11-03 15:57] escamoteur commented on #23
why not making a new branch and mark it as prerelease?

[2016-11-03 17:42] kswoll commented on #23
The prerelease option sounds good.  I've yet to try that with nuget, so I'll investigate.  Will get this sorted in the next couple days.

[2016-11-03 17:51] escamoteur commented on #23
Great!

[2016-11-03 20:01] kswoll commented on #23
I think it's all good to go.  I tried it on my test project:

https://www.nuget.org/packages/ReactiveUI.Fody/2.0.61-beta

Let me know if there are any issues.

[2016-11-03 20:01] #23 closed

[2016-11-04 16:37] escamoteur commented on #23
Just tried it it works.
Thanks a lot for this really fast fix

[2016-11-04 16:38] kswoll commented on #23
Awesome, glad it's working for you too! :)

[2016-11-14 16:37] HeathHopkins opened #24 "ReactiveUI 7 Released"
Thanks creating this Fody package.  Reactive 7 was just released on NuGet in the main feed.  When you get a chance, can you update the beta branch's NuGet dependencies to allow reaciveui 7.0.0 instead of 7.0.0.1478039116?

[2016-11-15 14:33] kswoll commented on #24
Removed the beta tag now that reactiveui is officially released.  And fixed the dependencies with the help of @butlerpeter.

[2016-11-15 14:33] #24 closed

[2016-11-15 19:52] #19 closed

[2016-11-15 23:05] aalmada opened #26 "An unhandled exception occurred: Value cannot be null. Parameter name: self"
I'm using Fody for the first time and I'm getting an unhandled exception.
It's a netstandard 1.1 PCL project.
I added both Fody and ReactiveUI.Fody packages and then added the FodyWearvers.xml by hand.
The view model has two constructors (one without parameters and another with a parameter).
It has two ObservableAsProperty but exceptions still happens when I remove them.

1>    Fody: Fody (version

[2016-11-18 20:11] aalmada commented on #26
If I install only the ReactiveUI.Fody 2.0.65 package, NuGet states that will install Fody 1.13.0. The project compiles but, when I execute, it crashes because of a missing method.
If I also install the Fody 1.29.4 package, NuGet states that it will upgrade Fody. When I compile, I get the error.

[2016-11-19 17:22] kswoll commented on #26
Hi, sorry for not getting back to you sooner.  I'll take a look at it this weekend.

[2016-11-23 02:50] xplatsolutions opened #28 "[ObservableAsProperty] needs to be updated for ReactiveUI version 7.0.0"
The [ObservableAsProperty] attribute needs to be updated according to the breaking changes in ReactiveUI version 7.

https://github.com/reactiveui/ReactiveUI/blob/develop/src/ReactiveUI/ObservableAsPropertyHelper.cs

[2016-11-25 11:20] buckleyGI opened #29 "Watching a nested property"
As described in "Watching a nested property"  on https://docs.reactiveui.net/en/user-guide/when-any/index.html this should work fine:

this.WhenAnyValue(x => x.Foo.Bar.Baz);

However when I use the [Reactive] attribute in my project the changes of the subproperties are not picked up.
When I switch to the native way of defining the property with RaiseAndSetIfChanged it works.

So I thought that I s

[2016-11-25 13:33] buckleyGI commented on #29
I found the cause of my own error.

Some types were refactored to another assembly and the ReactiveUI weaver was not registred.

[2016-11-25 13:33] #29 closed

[2016-11-29 00:39] kswoll commented on #28
@xplatsolutions isn't that what the [latest Nuget](https://www.nuget.org/packages/ReactiveUI.Fody/2.0.65) [already addresses](https://github.com/kswoll/ReactiveUI.Fody/commit/8f57b804af9229afa0007ec21711e516f2b6574d)?  If not, can you elaborate?

[2016-11-29 01:47] xplatsolutions commented on #28
Not sure why I didn't see this version before :-) I will download and check it out. Thanks man.

[2016-11-29 01:47] #28 closed

[2016-12-05 20:53] buckleyGI opened #30 "One of the advertised dangers of AOP that bit me"
Hi,

I have been looking the good last few hours of the day at a problem where one of the nested properties would not announce its change

The problem was not that it was nested but that the the type of the nested properties was not inheriting from ReactiveObject.
The weaver gives not error and there is no run time warning in the output console.

Can we throw an error while weaving or let Fody inj

[2016-12-05 23:36] kswoll commented on #30
Yeah, I've run into that myself.  It's a good idea.

[2016-12-09 08:40] aalmada commented on #26
Looks like Fody doesn't support .NET Standard: https://github.com/Fody/Fody/issues/280

[2017-01-19 17:04] kswoll opened #31 "Add support for exceptions that include the property information"

[2017-02-13 07:22] bradphelan opened #34 "Just upgraded to ReactiveUI.Fody 2.0.66"
During building my project I saw

![image](https://cloud.githubusercontent.com/assets/17650/22874296/84feb7a2-f1c5-11e6-86dd-35f6136cdfba.png)

Unfortunately not an opensource project so I can't point you to the sources. Is the stack trace enough for you to figure out what went wrong?

[2017-03-08 11:40] henningms opened #35 "VS2017: Live Unit Testing - Unhandled Exception - Sequence contains more than one element"
Hi,

Downloaded VS2017 Enterprise and wanted to try the new Live Unit Testing feature in my Xamarin Forms project (PCL, iOS & Android project). Building these projects manually works fine, but when I try to start the Live Unit Testing feature and it tries to build this error occurs:

`[12:28:56.291 Verbose] - BuildManager - (0,0): error : Fody: An unhandled exception occurred:
Exception:
Sequence

[2017-03-15 12:02] escamoteur opened #36 "Installing 2.0.66 installs RxUI 7.0 although 7.2 is installed"
Hi,

Installing 2.0.66 installs RxUI 7.0 although 7.2 is installed

Also I observed that that it installas RxUI component and anot only RxUI.Core

Cheers
Thomas

[2017-03-15 20:34] kswoll commented on #36
@escamoteur hmm, ok, any thoughts as to why in terms of the nuspec?

[2017-03-15 20:39] kswoll commented on #34
It means it can't find, during the build, the `ReactiveUI.Fody.Helpers` package.  Can you let me know:

* The type of project you are building (.net core, xamarin, standard, etc.)
* Whether the references for your project contain that helpers assembly?

[2017-03-15 21:00] escamoteur commented on #36
Unfortunately not I'm really not a nuget expert

[2017-03-15 21:06] kswoll commented on #36
Hmm, so I'm not seeing this behavior.  I created a vanilla Console application in VS2015, ran:

It then installed the latest reactive ui bits.  I then ran:

And this was the output:

[2017-03-15 21:08] escamoteur commented on #36
Ah, I updated it to the latest version after I already had RxUI updated to 7.2

[2017-03-15 21:08] kswoll commented on #34
Also, what is the version of .NET (4.5, 4.6, etc.) for the project that is failing?

[2017-03-15 21:11] kswoll commented on #34
Finally, if you could set your build log output to be verbose, and include that log, that would be very helpful.

[2017-03-15 21:33] kswoll commented on #35
Weird, I don't have enterprise so can't test, but the exception indicates the the generated IL for auto-property in this scenario is different from what we'd expect.  It should reference the backing field only once.  But somehow the IL is referencing that field twice.  It would be interesting if you temporarily disabled the ReactiveUI.Fody plugin and tried to compile.  If it's successful, I'd love

[2017-03-15 22:36] kswoll commented on #36
@escamoteur so is this a non-issue then?  Should I close?  Or are you saying that if RxUI is at 7.2, there's a problem?

[2017-03-16 10:12] escamoteur commented on #36
I guess the problem is if RxUI is already installed in V72. and you then update the Fody Package.
But don't spent more time on if if I'm the only one reporting. I thought it would something that you find easily when looking at the nuget spc.

Thanks a lot!

[2017-04-11 18:58] SProst opened #37 "2.1.0-beta67 Odd behavior (VS2017)"
I was able to use 2.0.66 without any issues, but as soon as I upgraded to the prelease 2.1.0-beta67 version (and changed to KirkFody) Reactive tagged properties no longer functioned correctly. I did not have any build issues however. Is there a list of known issues with the prerelease?

Visual Studio 2017, .NET 4.6.2 C#7

[2017-04-11 20:51] SProst opened #38 "PackageReference csproj may be breaking install script (Weavers.xml)"
I have new projects based on the Nuget PackageReference rather than packages.config for handling dependencies. I noticed that after this change, due to the way that dependencies are handled, the install script is not executed correctly for adding the Weavers.xml file. Can anyone with VS2017 verify this?

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

[2017-04-11 20:54] kswoll commented on #37
So the goal of that pre-release is to try to fix fody/cecil's obliteration of round trip pdb information.  It works, either the fody beta or the cecil beta is unfortunately leaving a file lock on some assemblies forcing you to restart VS or manually kill msbuild.exe processes.  I'm intending to get back to it at some point.  But if you're interested in trying to get it to work, do make sure you do

[2017-04-11 20:56] kswoll commented on #38
This would be a bug with Fody, no?  Or are you referring to my `KirkFody` project?  (that's a temporary stop gap as I outlined in your other issue)  In any case, it's really trivial to create that file yourself, so that's the direction I'd go if you're still having trouble.

[2017-04-11 20:56] #38 closed

[2017-04-11 21:44] SProst commented on #37
Would detailed or diagnostic output during the msbuild process provide more insight into what is happening (or not happening) during build that could be causing reactiveui properties to not wire up correctly? Just want to provide helpful information for this issue rather than ambiguity.

[2017-04-11 21:45] kswoll commented on #37
Thanks.  I think you'll have to manually update your `.csproj` file to point to the correct Fody.targets file as well.  i.e. it should point to the one in KirkFody rather than the one in Fody.  Can you check if that is the case?  (search for "Fody.targets")

[2017-04-11 21:57] SProst commented on #37
Okay, so in a normal packages.config csproj project this is added **only** with version 2.0.66

`<Import Project="..\packages\Fody.1.30.0-beta01\build\dotnet\Fody.targets" Condition="Exists('..\packages\Fody.1.30.0-beta01\build\dotnet\Fody.targets')" />`

Otherwise, with version 2.1.0-beta67 **or** if the csproj file is _PackageReference_, that does NOT get added to the csproj file, which is obvio

[2017-04-11 22:00] kswoll commented on #37
Yeah, not sure.  This pre-release stuff is mostly experimental -- was trying to fix debugging for our projects at work.  And Fody seems like it's unmaintained (it's repo has been in a broken state for about half a year), so was trying to figure out how to get it all working.

Probably KirkFody didn't run the script properly because I just forked the Fody repo and probably someing in the `.ps1` fil

[2017-04-11 23:21] SProst commented on #37
It looks like this is a documented issue with PackageReference.
https://github.com/NuGet/Home/issues/4942

At this point, it may make more sense for me to hold off using ReactiveUI.Fody until either Fody is patched or more information on the script installation is provided so this can be fixed. Based on your comment, it appears that they are not actively managing pull requests?

[2017-04-23 05:58] extesy opened #39 "Conflicts with PropertyChanged.Fody because of cecil version"
`PropertyChanged.Fody` has recently updated the cecil version it is using (https://github.com/Fody/PropertyChanged/commit/379ba81a6146aaedfc63a6ac3378c33a23720dee) and now it conflicts with `ReactiveUI.Fody` which is still using older version of cecil. When both are enabled, `ReactiveUI.Fody` fails to run.

[2017-04-23 06:28] SimonCropp opened #40 "Update to Fody Version 2"
Fody Version 2 is out and you will need to do an update for your addin to be usable with it

Specifically:

 * Update to the newest Fody.Cecil nuget
 * Change the min dependency range for Fody to be at least 2.0

 Please ping me if u need help

[2017-04-23 17:28] extesy commented on #39
@kswoll I'm quite sure that fixing #40 would also fix this problem.

[2017-04-23 17:38] kswoll commented on #40
Thanks for the new version, @SimonCropp!  I actually have a -Pre version already going -- doing some testing to make sure everything is kosher.  Also, in one of my other plugins, I'm noticing two problems with the new version:

1.  Getting this error when creating a whole new method:
[code]

2. Fody seems to keep a file lock on pdbs so after the first compile, I have to exit Visual Studio or manua

[2017-04-23 17:54] extesy opened #41 "Notify about changes in derived properties"
Basically, just like in the very first example for https://github.com/Fody/PropertyChanged weaver, I have these three properties:

[code]

If I try to annotate `WinRate` with `[Reactive]` attribute, your weaver complains that it doesn't have setter so it can't change. Well, that's not correct - it does change when either `GamesWon` or `GamesPlayed` changes.

I would like the weaver to inject notif

[2017-04-23 18:00] extesy commented on #41
I think `GetFullDependencies` function implements this: https://github.com/Fody/PropertyChanged/blob/master/PropertyChanged.Fody/PropertyDataWalker.cs#L81

[2017-04-23 18:07] kswoll commented on #41
This is an interesting suggestion.  The one concern I have is it seems limited -- presumably this only works if the property dependencies are declared in the same class?  If so it seems somewhat inconsistent.  I would be open to a PR that implements this, but I suspect I won't have the time for the forseeable future.  Have you considered using an `[ObservableAsPropety]` instead?  i.e.

[code]

[2017-04-23 18:39] extesy commented on #41
Your are right, your suggestion would also work as an alternative, but 3 out of 4 lines there are just boilerplate and would be the same for any other similar property. To avoid such repeated boilerplate is exactly why Fody was created, wasn't it?

As to your concern about dependencies having to be in the same class - I think that should cover 99% of use cases in the MVVM model and as long as limi

[2017-04-23 19:25] kswoll commented on #39
@extesy you can try it now -- I'm still working out some kinks with a different fody package, which is why it's not a public release yet.

[2017-04-23 19:56] SimonCropp commented on #40
What versions of fody and weavers are u using. And can u repro in a stand alone solution?

[2017-04-23 20:03] SimonCropp commented on #40
I would also appreciate a review of the pdb reading and writing code if u have time

[2017-04-24 15:37] kswoll commented on #40
@SimonCropp I've attached a small zip that is a minimal example that reproduces both issues.  I think the file locking issue is related to the fody build failing -- probably something not getting disposed in that scenario?

I'm using Fody 2.0.2.  I'm using the weaver:  SexyProxy.1.0.65-beta1 (this is my own package).  The precise nature of the fody build failure is related to Mono.Cecil trying to

[2017-04-24 20:38] kswoll commented on #41
@extesy sure, like I said, I think it's an interesting suggestion and I'm certainly not opposed.  Just don't have the bandwidth personally at the moment.

[2017-04-25 00:02] SimonCropp commented on #40
@kswoll can u repo the issue in your unit tests on SexyProxy?

[2017-04-25 05:39] SimonCropp commented on #40
btw when u push your beta to nuget dont forget to update the min nuspec version https://github.com/kswoll/ReactiveUI.Fody/blob/master/Nuget/ReactiveUIFody.nuspec#L16

[2017-04-25 21:44] kswoll commented on #40
Thanks for the heads up about the nuspect, @SimonCropp.  Also, I managed to fix that stack trace I mentioned above by adding this line:

    Method.DebugInformation.Scope = null;

You see, on the next line I do:

    Method.Body = body = new MethodBody(Method);

At that point, the cached debug information (which contained now obsolete local variables) was inapplicable to the new method body, and h

[2017-04-25 21:44] #40 closed

[2017-04-25 21:45] kswoll commented on #39
Here ya go:  https://www.nuget.org/packages/ReactiveUI.Fody/2.2.3

[2017-04-25 21:45] #39 closed

[2017-04-25 21:46] kswoll commented on #37
@SProst all is well in Fody-land again.  Fody 2.0 has been released, and this package has been updated to point to it.

[2017-04-25 21:46] #37 closed

[2017-04-25 21:46] #36 closed

[2017-04-25 21:47] #34 closed

[2017-05-08 04:24] Syrus666 commented on #41
@extesy @kswoll I've put together a PR that should tackle basic uses cases of the proposed idea: https://github.com/kswoll/ReactiveUI.Fody/pull/42

[2017-05-11 14:01] fvermeulen opened #43 "Upgraded from 1.1.1 -> 2.2.4 built on ios doesn't work"
Hey I updated my Fody and ReactiveUI.Fody today from version 1 to the acutal one

Android works (right now a bit slow, have to look, what you changed, maybe I have to update my code) but iOS doesn't work. When I try to build iOS. While building I get this error:

```/Users/xy/dev/universal-app/iOS/MTOUCH: Error MT2002: Failed to resolve assembly: 'ReactiveUI.Fody.Helpers, Version=2.2.4.0, Culture=

[2017-05-12 12:52] fvermeulen commented on #43
could solve all problems with the library

the slowness came from Xamarin :( Sorry

https://forums.xamarin.com/discussion/95275/slow-performance-after-updating-xamarin-studio-to-stable-release-15-2#latest

[2017-05-12 12:52] #43 closed

[2017-05-14 13:24] kswoll commented on #43
Ok, glad you got it all sorted! :)

[2017-05-15 23:04] kswoll opened #44 "Emit a compiler error when [Reactive] is used on a class that does not implement IReactiveObject"
Since the attribute will never do anything useful in this scenario, it will only lead to bugs.  So just make it a compiler error.

[2017-05-19 07:05] escamoteur opened #45 "Please support latest Mono.Cecil"
Hi,
it turns out if you update to VS2017 and mono 5.0 there are some problems when building with fody. This is part of a reply I got from Xamarin:

<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

I'm sure a lot of users will soon run into that problem.
Would be awesome if you could have a look at it
Cheers
Thomas

[2017-05-19 10:13] kzu commented on #45
Basically latest Fody requires all Weavers to reference 0.10." of Mono.Cecil.

Without an update to this project/nuget, it's impossible to use it on netstandard/netcore out of the box, or with any projects that choose to use portable pdb files.

This is a highly visible and blocking issue for users upgrading to VS2017 where portable pdbs are the default in those project types.

Thanks.

[2017-05-19 13:43] kswoll commented on #45
There seems to be a lot of unrelated (?) information here?  ReactiveUI.Fody references:

[code]

I notice that the latest version is FodyCecil 2.0.9.  Is this issue just about upgrading ReactiveUI.Fody to point to that newer version?

[2017-05-19 13:51] kzu commented on #45
I suppose. @SimonCropp?

[2017-05-19 18:28] SimonCropp commented on #45
Nope. Any version in the 2.x range should be fine

[2017-05-19 19:01] escamoteur commented on #45
But what is then the problem? It already references 2.07
@simoncropp

[2017-05-19 20:38] SimonCropp commented on #45
Accoring to the error u r referencing 2.0.66 of reactiveui.fody. That is not the latest version. Try updating it to the newest

[2017-05-19 20:39] kswoll commented on #45
@SimonCropp ah, good call.  I should have noticed that.  Thanks! That should indeed take care of it.

[2017-05-19 20:56] SimonCropp commented on #45
No worries

[2017-05-20 17:35] #45 closed

[2017-05-20 18:45] escamoteur commented on #45
Is an Update already on Nugget?
Thanks
Thomas

[2017-05-20 21:18] kswoll commented on #45
@escamoteur are you not seeing the newer versions on nuget?

https://www.nuget.org/packages/ReactiveUI.Fody

[2017-05-20 23:23] escamoteur commented on #45
Oh, sorry I'm on the road and was just wondering that you closed the issue without any comments.
Thanks a lot, now I too can use vs2017

[2017-05-21 12:54] ghuntley opened #46 "ReactiveUI.Fody breaks the Windows Forms designer"
[![](http://img.youtube.com/vi/1YofbDCGuxU/0.jpg)](http://www.youtube.com/watch?v=1YofbDCGuxU "")

# Repo
1) Clone this repo -> https://github.com/ghuntley/hmmpth
2) Build
3) Drag user control which uses `ToPropertyEx`
4) 💥

# Remarks
The exception will be that 7.0.0.0 cannot be found, after adding a binding redirect from that to 7.3.0.0:

[code]
The exception becomes a little more clear.

[code]

[2017-05-21 16:22] kswoll commented on #46
👍 for the 💯  issue report.  However, I tried adding that binding redirect to `App.config` in the `ColorProject` project, but I'm still getting the original exception message.  Any ideas?

[2017-05-21 16:34] kswoll commented on #46
FWIW, when I downgrade reactiveui et al to 7.0.0 I'm unable to repro.  Using VS2017 Community edition.

[2017-05-28 18:51] #41 closed

[2017-06-11 13:59] domyd opened #47 "ObservableAsPropertyHelper of type long fails to compile"
Creating an ObservableAsPropertyHelper of type `long` with ReactiveUI.Fody fails at compile time with an exception.

## Repro
This compiles: ✔️(as do `string`, `double`, etc.)
[code]

This doesn't compile: 🙁
[code]

Substituting `Int64` for `long` also fails to compile.

## Stacktrace
[code]

[2017-06-11 13:59] domyd commented on #47
Turns out the fix was pretty simple; I'll submit a PR shortly 🙂

[2017-06-11 17:03] #47 closed

[2017-07-20 23:08] kmcginnes opened #49 "Add a license"
Could you add a license to your repository, please.

https://help.github.com/articles/adding-a-license-to-a-repository/

[2017-07-21 15:54] #49 closed

[2017-08-18 13:48] gtbuchanan commented on #26
I'm running into this issue now trying to upgrade my projects to .NET Standard. The aforementioned issue has been closed, so Fody now supports .NET Standard. Any update on this?

[2017-08-18 15:30] RostislavST commented on #26
PropertyChanged.Fody now works on .NET Standard but ReactiveUI.Fody not.
https://github.com/Fody/Fody/issues/280

[2017-08-24 15:59] RostislavST commented on #26
I managed to get it working with netstandard 1.6 as Solution Weavers project (local):

You need to replace in ObservableAsPropertyWeaver.cs
[code]

to this

[code]

[2017-08-24 16:01] kswoll commented on #26
Thanks for looking into it, @RostislavST, I'll get to it this weekend.

[2017-10-13 04:21] gtbuchanan commented on #26
I see @RostislavST put up a NuGet package for netstandard 1.6. Unfortunately, I can't use it since I have to support UWP. Any chance of getting an official package soon, @kswoll?

[2017-10-13 07:11] RostislavST commented on #26
UWP not supporting NET standard 1.6?
https://blogs.msdn.microsoft.com/dotnet/2017/10/10/announcing-uwp-support-for-net-standard-2-0/

[2017-10-13 12:54] gtbuchanan commented on #26
No. Not until Oct 17th. Even then, it won't be backward compatible. UWP currently only supports netstandard 1.4. From the article:

I've already gone through the hassle of forking your repo, changing the namespace back to what it was so I don't have to refactor everything, targeting netstandard 1.4, and building a new package. Thanks anyway for the fix.

[2018-01-17 20:56] worldbeater opened #53 "Support for NETStandard 1.3 or lower"
Hi @kswoll!

It would be nice if ReactiveUI.Fody could be ported to support NETStandard 1.3 or lower. As for now, we are unable to use it with universal windows platform (especially when targeting devices running on good old windows mobile, which is no longer updated).

As described here https://github.com/kswoll/ReactiveUI.Fody/issues/26#issuecomment-336444310, UWP releases are not backwards-comp

[2018-04-16 19:43] IQuixote opened #55 "Conflicts with PropertyChanged.Fody (2.5.3) because of Mono.Cecil version (ReactiveUI.Fody 2.2.11)"
Using:
Fody: 3.0.3
PropertyChanged.Fody: 2.5.3
ReactiveUI.Fody: 2.2.11

Seems like same type of error as Issue #39

[2018-04-18 18:03] dashika opened #56 "NetStandart 1.3 XAMARIN FORMS"
Help me, please, what I must do for deciding this problem:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Fody: An unhandled exception occurred:
Exception:
Value cannot be null.
Parameter name: self
StackTrace:
   at Mono.Cecil.Rocks.TypeDefinitionRocks.GetConstructors(TypeDefinition self)
   at ReactiveUI.Fody.ObservableAsPropertyWeaver.Execute() in C:\projects\reactiveui-f

[2018-04-19 07:55] dashika commented on #56
I found this : https://github.com/reactiveui/ReactiveUI/pull/1578/commits/d2ecf023642003dadfa031e466d0608e93378b56

but how it implement without built new own lib ?

[2018-05-06 05:25] harvinders opened #57 "Add support for Reactive UI 8.0"
Reactive UI is release couple of days back and it seems we can't use ReactiveUI.Fody with that version. It would be great to see support for 8.0

[2018-06-08 20:47] gtbuchanan commented on #57
ReactiveUI.Fody is [currently being integrated](https://github.com/reactiveui/ReactiveUI/pull/1503) into the main ReactiveUI project. I just recently [submitted a PR](https://github.com/reactiveui/ReactiveUI/pull/1671) to finalize the integration. You should be able to clone the PR branch and make a custom build yourself until the official package is released.

Alternatively, you could clone [this

[2018-06-08 20:52] gtbuchanan commented on #56
Duplicate of #26 and #53. See #54 as there is a package attached to it that resolves this issue.

[2018-08-08 14:05] ghuntley commented on #57
Fody is integrated into ReactiveUI now and this repository is retired.

[2018-08-08 14:05] ghuntley opened #58 "Fody is integrated into ReactiveUI now and this repository is retired."

[2018-09-28 13:01] #53 closed

[2019-08-09 15:53] arontsang commented on #44
I have a Roslyn Analyzer https://github.com/arontsang/ReactiveUI.Fody.Analyzer
But I need kswoll to give me access to the ReactiveUI.Fody prefix to publish this as a nuget package

[2019-08-09 18:08] kswoll commented on #44
This is now being maintained at ReactiveUI:  https://github.com/reactiveui/ReactiveUI/tree/master/src/ReactiveUI.Fody

I'm happy to help -- however, it might make more sense for the plugin itself to emit an error through Fody rather than through an analyzer.  In any case, l'm happy to help, but maybe raise this issue at its new(-ish) home under the reactiveui project.

[2019-08-10 10:37] arontsang commented on #44
With an analyser we get integration at the IDE level (the user gets feed
back at design time rather than compile time).

Also I've set the level to Error so at compile, we still stop compilation.

On Sat, 10 Aug 2019, 02:08 Kirk Woll, <notifications@github.com> wrote:

[2019-08-11 07:44] kswoll commented on #44
Ah yeah, that's a great point @arontsang!  Anyway, I'm happy to grant you access to the prefix -- any idea how I do that? 😃

[2019-08-18 06:38] arontsang commented on #44
Seems you need to send microsoft support an email
https://docs.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation

Advanced prefix reservation scenarios
<https://docs.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation#advanced-prefix-reservation-scenarios>

There are several more advanced prefix reservation scenarios described
below, including subprefix delegation, and marking prefix

[2019-08-20 19:46] kswoll commented on #44
Can you email me your email that is tied to your nuget account?  Creating an email now to nuget.  (my email is listed in my profile).